<div class="app p-4 container-fluid">
    <ng-container *ngIf="user; else spinner;">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                <div class="text-center">
                    <app-card [user]="user"></app-card>
                </div>
            </div>
            <div class="col-12 col-md-12 text-center mt-4">
                <button class="btn btn-primary p-2" (click)="loadUserProfile()">Reload Profile</button>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <div class="text-center">
            <div class="spinner-border spinner-grow-mg text-white" role="status">Loading...</div>
        </div>
    </ng-template>
</div>